* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #eee;
    display: none; 
    margin: 0 auto; 
}

body{
    text-align: center;
}

#StartButton{
    margin-top: 40vh;
}

.modal-dialog{
    text-align: left;
}

#instructLabel{
    width: 100%;
    text-align: left;
}