/* /////////////////// */

table{
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
td{
    height: 100px;
    width: 100px;
    border: 2px solid white;
    font-size: 30px;
}
body{
    display: block;
}

thead > tr > td{
    font-size: 40px;
    font-weight:900;
    background: yellow;
}

header{
    height: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}