/* /////////////////// */

table{
    border-collapse: collapse;
    /* background-image: url(../01-Date/Calendar/1.JPG); */
}
td{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    font-size: 30px;
    text-align: center;
}
body{
    display: block;
    margin-left: 35vw;
    position:fixed;
}

thead > tr > td{
    font-size: 40px;
    font-weight: bolder;
}